.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.CardDE {
  /* margin-right: auto!important; */
  margin: 50px 0px;
}

.bg-rlight {
  background-color: #f8f9fa00!important;
  min-height: 100vh!important;
  padding: 0px!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #74b9ff;
}

.m1:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.m1 {
  border: none!important;
  background-color: transparent!important;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg-aimg {
  background-image: url("./asset/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-cer {
  background-image: url("./asset/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home {
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

#hs1 {
  font-size: 6rem;
}

#ncolor {
  color: #74b9ff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color:#2d3436;
  color: #ffffff;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 5rem;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
